# Ignore node_modules (dependencies are installed inside the container)
node_modules
npm-debug.log
yarn-error.log

# Ignore logs
logs
*.log

# Ignore test files
coverage
*.test.js

# Ignore local environment variables
.env

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore git files
.git
.gitignore

# Ignore editor/project files
.vscode
.idea